.post {
  height: 340px;
  border: 1px solid #f1f1f1;
  margin: 15px 0;
  border-radius: 3px;
  overflow: hidden;
  background-color: #f8f9fa;

  img {
    width: 100%;
    vertical-align: middle;
    transition: all .4s ease-in-out;
    &:hover {
      width: 125%;
    }
  }
}

.post-date {
  font-size: 12px;
}

.post-image {
  height: 150px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.post-title {
  color: #5f5f5f;
  font-size: 12px;
  line-height: 1.5em;
}
