//TODO: media query on sm height auto on image-wrapper
//

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "../../utilities/_variables.scss";


@include media-breakpoint-down(sm) {
  .post-image {
    height: auto;
  }
}

@include media-breakpoint-up(md) {
  .post-image {
    height: 150px;;
  }
}

.post {
  border: 1px solid #f1f1f1;
  margin: 15px 0;
  border-radius: 3px;
  overflow: hidden;
  background-color: $post-bg-color;

  img {
    width: 100%;
    vertical-align: middle;
    transition: all .4s ease-in-out;
    &:hover {
      width: 125%;
    }
  }
}

.post-date {
  font-size: 12px;
}

.post-image {
  //height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.post-title {
  color: $post-font-color;
  font-size: 12px;
  line-height: 1.5em;
  margin-left: 5px;
}

.post-content {
  min-height: 90px;
}
