//TODO: media query on sm height auto on image-wrapper
//

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "../../utilities/_variables.scss";


@include media-breakpoint-down(sm) {
  .post-image-wrapper {
    height: auto;
  }
}

@include media-breakpoint-up(md) {
  .post-image-wrapper, .post-image {
    height: 250px;;
  }
}

.post {
  border: 1px solid #f1f1f1;
  box-shadow:$box-shadow;
  margin: 15px 0;
  border-radius: 13px;
  overflow: hidden;
  background-color: $post-bg-color;

  .post-image {
    width: 100%;
    vertical-align: middle;
    transition: all .4s ease-in-out;
    object-fit: cover;
    &:hover {
      width: 125%;
      height: 125%;
    }
  }
}

.post-date {
  font-size: 12px;
}

.post-image-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column
}

.post-title {
  color: $post-font-color;
  font-size: 12px;
  line-height: 1.5em;
  margin-left: 5px;
  border-bottom: 1px solid #bebebeab;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.post-content {
  min-height: 90px;
  a {
    text-decoration: none;
    color: #212529;
    &:hover {
      color: #fe28a7
    }
  }
}

.to-single-post {
  margin-left: calc(50% - 45px);
}