@import '../../../utilities/_variables.scss';

button {
  svg {
    max-width: 30px;
    max-height: 30px;
    &:hover {
      color: #fe28a7;
    }
  }
}

.engageButtons button {
  border:none;
  background: none;
  color: $post-font-color;
  &:focus {
    outline: none;
  }
}

.engageButtons {
  display: flex;
  justify-content: space-between;
}

.post-action-buttons {
  justify-content: flex-start;
}

.post-likes {
  justify-content: flex-end;
  color: $post-font-color;
  margin-right: 6px;
}


.likesCount {
  margin-left: 5px;
}
.engage {
  width: 100%;
}

.modal-content {
  border: 1px solid #f1f1f1;
  box-shadow:$modal-box-shadow;
  //margin: 15px 0;
  border-radius: 13px;
  //overflow: hidden;
  background-color: $post-bg-color;
}

.comment-form-input {
  border-radius: 13px;
  margin: 0 0.7rem;
}

.modal-body {
  border-radius: 13px;

}

.modal-button {
  border-radius: 13px;
  line-height: normal;
  padding: 4px;
  margin-right: 10px;
}

.modal-header {
  border-bottom: none;
  padding: 0.2rem 1rem;
}
