button {
  svg {
    max-width: 30px;
    max-height: 30px
  }
}

.engageButtons button {
  border:none;
  background: none;
  color: #aad6e2;
}

.engageButtons {
  display: flex;
  margin: 5px 5px 10px 0;
  justify-content: space-between;
}

.post-action-buttons {
  justify-content: flex-start;
}

.post-likes {
  justify-content: flex-end;
  color: #aad6e2;
}


.likesCount {
  margin-left: 5px;
}