button {
  svg {
    max-width: 30px;
    max-height: 30px
  }
}

button {
  border:none;
  background: none;
}

.engageButtons {
  display: flex;
  margin: 5px 5px 10px 0;
  justify-content: space-around;
}

.saveButton {

}

.commentButton {

}


.likesCount {
  margin-left: 5px;
}