@import '../../../utilities/_variables.scss';

button {
  svg {
    max-width: 30px;
    max-height: 30px;
    &:hover {
      color: #fe28a7;
    }
  }
}

.engageButtons button {
  border:none;
  background: none;
  color: $post-font-color;
  &:focus {
    outline: none;
  }
}

.engageButtons {
  display: flex;
  justify-content: space-between;
}

.post-action-buttons {
  justify-content: flex-start;
}

.post-likes {
  justify-content: flex-end;
  color: $post-font-color;
  margin-right: 6px;
}


.likesCount {
  margin-left: 5px;
}
.engage {
  width: 100%;
}