@import "../utilities/_variables.scss";

.bg-light {
  background-color: $header-bar-color !important;
  border: 2px solid white;
  border-radius: 3px;
}

.Header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 5;
}