@import "../utilities/_variables.scss";

.bg-light {
  background-color: $post-bg-color !important;
  border-radius: 13px;
  box-shadow: 0 6px 6px #d1cdc7;
}

.Header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 5;
}

.navbar {
  height: 43px;
  flex-wrap: nowrap;
}

.navbar-collapse {
  height: 50px;
}