@import "../utilities/_variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";


@include media-breakpoint-down(sm) {
  .navbar-nav {
    background-color: $post-bg-color !important;
    //border-radius: 13px;
  }
  .navbar {
    height: 57px;
  }
}

@include media-breakpoint-up(md) {
  .navbar {
    flex-wrap: nowrap;
    height: 43px;
  }
}

.bg-light {
  background-color: $post-bg-color !important;
  border-radius: 13px;
  box-shadow: 0 6px 6px #d1cdc7;
}

.Header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 5;
}

.navbar-collapse {
  height: 50px;
}

