@import '../utilities/_variables.scss';

.avatar-color {
  width: 90%;
  height: 36px;
  display: inline;
}

.avatar-color-wrapper {
  display: inline;
  width: 100%;
}

.color-pallet {
  width: 10%;
}

.user-edit {
  background-color: $post-bg-color;
  color: $post-font-color;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}