@import "../../utilities/_variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {

}

.user-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  //height: 250px;
  background-color: $post-bg-color;
}

.user-avatar img {
  width: 35px;
  height: 35px;
  border: solid black 1px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: lighten($header-bar-color, 50%);
  }
}

.header-user-details, .user-text {
  padding-right: 10px;
}

.hide-user-options {
  display: none;
}

.user-options {
  position: absolute;
  list-style-type: none;
  right: -2px;
  background-color: $header-bar-color;
  margin-left: auto;
  margin-top: 71px;
  margin-bottom: 0;
  padding: 10px 4px 8px 2px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 3px;
  li{
    margin-left:auto;
    padding-right: 15px;
    text-indent: 2em;
    &:hover {
      background-color: lighten($header-bar-color, 50%);
    }
    a{
      text-decoration: none;
      color: #212529;
    }
  }
}