@import '../../../../utilities/_variables.scss';

.tag {
  margin: 5px 5px 5px 0;
  background-color: $post-bg-color;
  border: solid 1px #e5e5e5;
  box-shadow: $tag-box-shadow;
  border-radius: 4px;
  line-height: 1px;
  overflow: hidden;
  padding: 2px;
  font-size: 10px;
  &:hover {
    background-color: darken($post-bg-color, 5%);
    padding: 2px;
  }
}