//$post-bg-color: rgba(226, 226, 226, 0.83);
//$post-font-color: #060606;
//$header-bar-color: #e1e4e4;

$post-bg-color: #efeeee;
$post-font-color: #060606;
$header-bar-color: #e1e4e4;
$box-shadow:  6px 6px 6px #d1cdc752, -6px -6px 6px #ffffff;
$tag-box-shadow: inset 1px 1px 1px #d1cdc752, inset -1px -1px 1px #ffffff;