@import "./utilities/_variables.scss";

body {
  //background-image: url("https://rafazold.github.io/instagram-ui/background/background-blur-clean-clear-531880.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: $post-bg-color;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
}